# OS
.DS_Store

# Elixir
*/_build/
*/deps/
*/cover/
*/.fetch
*/erl_crash.dump
*/*.ez
*/priv/static/assets/cache_manifest.json

# Node
*/node_modules/
*/dist/

# Env
.env
*/.env
*/.env.local

# IDE
.vscode/
.idea/
*.swp
